nav{
    background-color: rgba(255, 255, 255, 0.068);
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px white;
}
nav button{
    background-color: transparent;
    border: none;
    color: rgb(217, 217, 217);
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 30px;
    transition: 0.3s;
}
nav button:hover{
    transform: scale(1.2);
    transition: 0.3s;}
